@using Northwind.Web.Helpers;
@model PaginatedList<Northwind.DataAccess.Models.Categories>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Category", htmlAttributes: new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{

}
<table class="table">
    <tr>
        <th>
            Category ID
        </th>
        <th>
            Category Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                    @Html.ActionLink("Edit", "Edit", new { categoryId = item.CategoryId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Details", new { categoryId = item.CategoryId }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
